/* .idea__containerItem {
	background: #606c88; 
	background: -webkit-linear-gradient(
		to right,
		#3f4c6b,
		#606c88
	); 
	background: linear-gradient(
		to right,
		#3f4c6b,
		#606c88
	); 
	color: white;
	border-radius: 5px;
} */
/* .idea__containerItem {
	border: 0.5px solid #ccc;
} */
