.payment__main__container article {
	background-color: #fff;
	padding: 15px;
	border-radius: 8px;
}

.payment__main__container {
	background-color: #f3f8f5;
	padding: 20px;
}
.payment__sectionSecondCenter__container {
	padding: 20px;
}
.payment__sectionSecondCenter__container article {
	padding: 10px;
	border-radius: 5px;
	background-color: #fff;
	padding: 10px;
}
.payment__sectionSecondCenter__container article img {
	width: 256px;
	height: 195px;
	margin: 0 auto;
}
.payment__sectionSecondCenter__container article h2 {
	font-weight: 700;
	margin: 10px 0px;
}
.payment__itemContainer {
	padding: 40px 0px;
}
.payment__itemContainer section article div a {
	color: #1ebe2a;
}
